<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Taylor Weirtz | Entry-level Software Engineer | teweirtz@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Taylor Weirtz</h1>
					<h2>Entry-level Software Engineer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">Download PDF</a></h3>
						<h3><a href="mailto:teweirtz@gmail.com">teweirtz@gmail.com</a></h3>
						<h3>(407) - 607-1721</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p>
                            Entry-level Software Engineer with strong technical programming skills and experience in fast-paced project management and team collaboration. Proficient in web application development along with algorithm and database design. Exceptional communication and adaptability with a passion for learning and tackling new challenges.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Languages & Frameworks</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>HTML</li>
								<li>CSS</li>
								<li class="last">Javascript</li>
							</ul>

							<ul class="talent">
								<li>Express.js</li>
								<li>MongoDB</li>
								<li class="last">Node.js</li>
							</ul>

							<ul class="talent">
								<li>Python</li>
								<li>React.js</li>
								<li class="last">SQL</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Tools</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Axios</li>
								<li>apiDoc</li>
								<li class="last">Git</li>
							</ul>

							<ul class="talent">
								<li>GitHub</li>
								<li>macOS Terminal/li>
								<li class="last">Passport</li>
							</ul>

							<ul class="talent">
								<li>Postman</li>
								<li>Storybook</li>
								<li class="last">Visual Studios Code</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>General Assembly</h2>
								<h3>Software Engineering Student</h3>
								<h4>November 2022-present</h4>
								<p>Completed a 450+ hour intensive program with a focus on product development fundamentals, object-oriented programming, MVC frameworks, data modeling, and team collaboration strategies. Demonstrated software engineering skills by developing a portfolio of individual and group projects.
                                 </p>
							</div>

							<div class="job">
								<h2>HKA</h2>
								<h3>Business Development Associate</h3>
								<h4>June 2021-October 2022</h4>
								<p>Developed reports in Hubspot and Excel supporting the assessment of operations and continuous improvement, including trends and exceptions. Identified specific prospects to reach out to, via thorough research and analysis.
                                 </p>
							</div>

							<div class="job">
								<h2>Financial Zen Group</h2>
								<h3>Member Service Associate</h3>
								<h4>April 2018-May 2021</h4>
								<p>Played a key role in creating and implementing a new position, which led to a 30% increase in the company's client base. Conducted comprehensive analysis of individual clients' financial needs, resulting in their success and satisfaction. Collaborated with multiple professionals including tax attorneys, finance and insurance brokers, and estate planning attorneys to help clients achieve their financial goals.
                                 </p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>The University of Akron</h2>
							<h3>Bachelor’s of Business Administration in International Business  </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Taylor Weirtz &mdash; <a href="mailto:teweirtz@gmail.com">teweirtz@gmail.com</a> &mdash; (407) - 607-1721</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

